{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "hmpo-submit/macro.njk" import hmpoSubmit %}
{% extends "hmpo-template.njk" %}
{% set hmpoPageKey = "debug" %}


{% block mainContent %}

  {% if not isPageHeading %}
    {{ super() }}
  {% endif %}

  <form action="/oauth2/authorize" method="POST">
      <p class="govuk-body">{{ govukButton({
          text: translate("buttons.startAuthenticateForm"),
          href:"/authenticate/",
          classes:"govuk-button--secondary"
          }) }}
      </p>

      <p class="govuk-body">{{ govukButton({
          text: translate("buttons.startKBVForm"),
          href:"/kbv/",
          classes:"govuk-button--secondary"
          }) }}
      </p>

      {{ hmpoSubmit(ctx, {text: translate("buttons.authorizeAndReturn")}) }}

  </form>

{% endblock %}
