{% extends "layout.html" %}

{% block pageTitle %}
Knowledge Based Verification Questions
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Knowledge Based Verification Questions</h1>


        <p>
        <form action="/questions" method="post">



            {% from "govuk/components/button/macro.njk" import govukButton %}

            {{ govukButton({
            text: "Get KBV Questions"
            }) }}
        </form>
        </p>

    </div>
</div>

{% endblock %}
